{% extends "base.html" %}

{% block title %}Головна{% endblock %}

{% block content %}
    <div class="container text-center my-5">
        <h1 class="display-4 fw-bold text-primary">Ласкаво просимо до TechWorld</h1>
        <p class="lead text-muted">У нашому магазині ви знайдете широкий асортимент найновішої електроніки та побутової техніки від провідних виробників. Від смартфонів та ноутбуків до побутових приладів та аксесуарів - у нас є все для сучасного життя.</p>
    </div>

    <div class="gallery-grid">
        <div class="gallery-item">
            <a href="/products?tag=pc" class="text-decoration-none">
                <div class="grid-iteminner">
                    <img src="static/img/asus 1.jpg" class="grid-itemimg" alt="ПК/Ноутбуки">
                    <div class="grid-itemtitle">
                        <span>ПК/Ноутбуки</span>
                    </div>
                </div>
            </a>
        </div>

        <div class="gallery-item">
            <a href="/products?tag=phone" class="text-decoration-none">
                <div class="grid-iteminner">
                    <img src="static/img/phone-Photoroom.png" class="grid-itemimg" alt="Телефони/Планшети">
                    <div class="grid-itemtitle">
                        <span>Телефони/Планшети</span>
                    </div>
                </div>
            </a>
        </div>

        <div class="gallery-item">
            <a href="/products?tag=accessoires" class="text-decoration-none">
                <div class="grid-iteminner">
                    <img src="static/img/header.jpg" class="grid-itemimg" alt="Аксесуари">
                    <div class="grid-itemtitle">
                        <span>Аксесуари</span>
                    </div>
                </div>
            </a>
        </div>
    </div>
{% endblock %}